<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAScAxcoR8QFkIq93NlZaHrawxu74v5kdk</string>
	<key>GCM_SENDER_ID</key>
	<string>363960307698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeSteer</string>
	<key>PROJECT_ID</key>
	<string>safesteer-3b5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>safesteer-3b5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363960307698:ios:41e55b0a41cf175d94656b</string>
	<key>DATABASE_URL</key>
	<string>https://safesteer-3b5e6-default-rtdb.firebaseio.com</string>
</dict>
</plist>